:root {
  --month-name-color: #4169E1; 
  --today-color: #28283b;
  --today-background-color: #FFFADF;
  --border-color: #ebedf3;
}

.status-1 {
  color: #F64E60;
  background-color: #FFE2E5;
}

.status-2 {
  color: #3699FF;
  background-color: #E1F0FF;
  border-color: #3699FF;
}
.status-3 {
  color: #FFA800;
  background-color: #FFF4DE;
  border-color: #FFA800;
}
.status-4 {
  color: #1BC5BD;
  background-color: #C9F7F5;
  border-color: #1BC5BD;
}
.status-5 {
  color: #8950FC;
  background-color: #EEE5FF;
  border-color: #8950FC;
}



.calendar-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background: #fff;
}
.calendar-wrapper table {
  clear: both;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  border-collapse: collapse;
  color: #3F4254;
}
.calendar-wrapper tbody {}
.calendar-wrapper tbody tr {}
.calendar-wrapper tbody tr.days {
  background-color: #6076b6ed;
  color: white;
}
.calendar-wrapper tbody tr.days td {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  height: 28px;
  border: none;
}
.calendar-wrapper td {
  height: 4rem;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  width: 14.28571429%;
  font-size: 1.25rem;
  font-weight: 300;
  transition: all 0.3s ease;
}
.calendar-wrapper td:not(.not-current):hover {
  cursor: pointer;
  background-color: #6076b6ed;
  color: white;
}
.calendar-wrapper td.not-current {
  color: #bfbbbb;
  font-size: 1rem;
}
.calendar-wrapper td.today {
  font-weight: 500;
  color: var(--today-color);
  background-color: var(--today-background-color);
}
.calendar-wrapper thead td {
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #5f75b6;
  color: white;
  vertical-align: bottom;
  font-weight: 500;
}
.calendar-wrapper #btnPrev {
  float: left;
  margin-bottom: 2px;
  left: 4rem;
  top: 4.5rem;
}
.calendar-wrapper #btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}
.calendar-wrapper #btnNext {
  float: right;
  margin-bottom: 2px;
  right: 4rem;
  top: 4.5rem;
}
.calendar-wrapper #btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}
.calendar-wrapper #btnPrev,
.calendar-wrapper #btnNext {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s ease;
  color: white;
  position: absolute;
  z-index: 9;
  font-size: 1.2rem;
}
.calendar-wrapper #btnPrev:hover,
.calendar-wrapper #btnNext:hover {
  color: lightblue;
}
