:root {
  --month-name-color: #4169E1; 
  --today-color: #28283b;
  --today-background-color: #FFFADF;
  --border-color: #dcdcff;
}

.calendar-wrapper {
  width: 360px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: #fff;
}
table {
  clear: both;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}
tbody {}
tbody tr {}
tbody tr.days {}
tbody tr.days td {
  font-weight: bold;
  font-size: .875rem;
}
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  width: 14.28571429%;
}
td.not-current {
  color: #c0c0c0;
}
td.today {
  font-weight: 500;
  color: var(--today-color);
  background-color: var(--today-background-color);
}
thead td {
  border: none;
  color: var(--month-name-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
#btnPrev {
  float: left;
  margin-bottom: 2px;
}
#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}
#btnNext {
  float: right;
  margin-bottom: 2px;
}
#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}
#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}
