@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  background-image: url("https://eadligth.com.br/new3/media/bg/bg-3.jpg");
  background-size: cover;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  color: #444;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
